<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css"> <!--don't write assets/css/layout.css => bcz it already knows where are the assets, so mention what is the specific asset-->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %> <!--link tag from body is placed here-->
    </head>
    <body>

        <%- include('_header'); %>

        <main id="layout-main">
            <%- body %> <!--this body is predefined in express-ejs-layouts as the variable part that is rendered based on diff routes-->
        </main>
        
        <%- include('_footer'); %>

        <%- script %> <!--script tag from body is placed here-->
    </body>
</html>